/* DEFAULT STYLING */

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  list-style-type: none;
}

.header-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: grey;
}

body {
  margin-left: 100px;
  margin-right: 100px;
}


/* HEADER ELEMENT WITH IMAGE STYLING CONTAINER */
.main-header ul {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding: 20px;
}

.main-header .shift-left {
  margin-right: auto;
}

/* SUPPORTING HEADER STYLING */
.supporting-header {
  background-color: aquamarine;
  display: flex;
  padding-left: 25px;
  margin-top: 65px;
}

.text-container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 30px;
}

.text-container button {
  width: 90px;
  margin-top: 10px;
  background-color: navy;
  color: white;
}

/* SUPPORTING HEADER STYLING IMAGE SECTION */

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.image-container img {
  /* PASS IMAGE STYLING UPON INSERTION! */
}