/* DEFAULT STYLING */

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  list-style-type: none;
}

.header-container {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  padding-left: 300px;
  padding-right: 300px;
}

body {
  /* margin-left: 100px;
  margin-right: 100px; */
}


/* HEADER ELEMENT WITH IMAGE STYLING CONTAINER */
.main-header ul {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding: 20px;
}

.main-header .shift-left {
  margin-right: auto;
}

/* SUPPORTING HEADER STYLING */
.supporting-header {
  display: flex;
  padding-left: 1px;
  margin-top: 65px;
  margin-bottom: 65px;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 30px;
}

.text-container button {
  width: 90px;
  margin-top: 10px;
  color: white;
  background-color: #3b82f6;
  border: 1px solid #3b82f6;
  padding: 5px;
}

/* SUPPORTING HEADER STYLING IMAGE SECTION */

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #6d747d;
}

.image-container img {
  /* PASS IMAGE STYLING UPON INSERTION! */
}

/* CARD CONTAINER STYLING */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.supporting-image-container {
  padding-top: 30px;
  display: flex;
  gap: 60px;
}

.card-container {
  width: 200px;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 4px solid #3b82f6;
  border-radius: 20px;
}

.card-container img {
  color: white;
}

/* TEXT CONTAINER */
.supporting-text-container {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding-right: 500px;
  padding-left: 500px;
  margin-top: 50px;
  font-size: 28px;
  font-weight: 100;
}

.supporting-text-container .shift-right {
  margin-left: auto;
  padding-right: 60px;
  padding-top: 20px;
}

/* BANNER CONTAINER */
.banner-container {
  background-color: #3b82f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3b82f6;
  border-radius: 5px;
  margin-top: 80px;
  margin-left: 400px;
  margin-right: 400px;
  padding: 20px;
  gap: 100px;
  color: white;
}

.banner-container button {
  padding: 5px 15px 5px 15px;
  color: white;
  background-color: #3b82f6;
  border: 2px solid white;
  border-radius: 5px;
}
.banner-container .selection-tag {
  font-weight: 600;
}

/* FOOTER */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #1f2937;
  color: white;
  margin-top: 50px;
}