/* DEFAULT STYLING */

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  list-style-type: none;
}

.header-container {
  display: flex;
  border: 2px solid black;
  background-color: grey;
}
